#titleOurServices {
  margin-bottom: 100px;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
}

.packaging, .dropshippingCard, .coachingCard {
  position: relative;
  h2 {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    text-shadow: 8px 4px 6px black;
    margin-bottom: 0;
  }
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-bottom: 60px;
  }

}