.OffersWoocommerceComponent {

  i {
    font-size: 14px;
  }

  .wooCommerceLabel {
    margin-left: 8px;
    font-size: 20px;
  }

  .inputCheckbox {
    margin-left: 50px;
    transform: scale(1.5);

  }
  .priceWoocommerce {
    font-weight: 900;
    margin-left: 15px;
    font-size: 20px;
  }
}
