.blocClientDetails {
  text-align: center;

  h3 {
    font-size: 22px;
    font-weight: 900;
    margin: 50px 0;
  }

  .dataClientDetails {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    input[type="email"] {
      margin: 0 10px 0 10px;
    }

    input {
      height: 2.7em;
      width: 22em;
      border-radius: 20px;
      border: 2px solid rgb(209, 198, 198);
      padding-left: 15px;
      font-size: 1.15em;
      outline: none;
      &:focus {
        border: solid #FFD629 1px;
        background-color: rgb(250, 250, 252);
      }
    }
  }
}

@media (max-width: 1105px) {
  .blocClientDetails {

    .dataClientDetails {
      display: block;
      margin-bottom: 50px;


      input[type="email"] {
        margin: 15px 0 15px ;
      }
    }
  }
}