.RegisterComponent {
  width: 500px;
  margin: 0 auto;

  .logoFullSignInDiv {

    .logoFullSignIn {
      height: 80px !important;
    }
  }
}

.alert-success {
  background-color: #7aba9b;
  color: #3e4348;
}

.or-word {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 40px;
}



.registerForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  -webkit-box-shadow: 2px 2px 70px -35px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 70px -35px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 70px -35px rgba(0,0,0,0.75);
  margin-bottom: 200px;

  .title {
    font-weight: 300;
    margin-bottom: 30px;
  }

  .designInput {
    height: 50px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 300;
    color: #afb4ba;
    margin-bottom: 13px;
    border: 1px solid #f4f4f5;
    background-color: #fdfcfc;
    border-radius: 3px;
    width: 100%;
  }

  label {
    font-weight: 300;
    font-size: 14px;
  }

  .errorForm {
    color: #c20505;
    margin-bottom: 7px;
  }

  .agreement {
    margin-right: 10px;
  }

  .btn {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100px;
    color: black;
    align-self: flex-end;
  }
}


.RegisterGoogleComponent {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;

  .paragraph {
    font-size: 22px;
    font-weight: 300;
  }


  .spanFree {
    color: #ffd629;
    font-weight: 900;
  }

  .googleConnexionBtn {
    width: 220px;
    margin-top: 35px;


  }

  img {
    height: 45px;
  }

}


p {
  margin-left: 10px
}

